<form> 
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="container text-center">
                        <app-current-date></app-current-date>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
<img src="assets/logo.png" alt="" width="250" height="95" />

<h1>Excel Sheet Reader</h1>
  

<input type="file" (change)="onFileChange($event)" multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

                </div>
            </div>
        </div>
    </div>
</div>
</form>

